body {
  margin: 0px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

.logo {
  width: 40px;
  margin: 5px 0px 5px 15px;
  float: left;
}

ul.menu {
  float: right;
}

li.menuoption {
  display: inline;
  margin: 15px 20px 0px 0px;
}

li.menuoption:hover {
  text-decoration: underline;
  display: inline;
  margin: 15px 20px 0px 0px;
}

.whitetext {
  text-decoration: none;
  color: white;
}

.font {
  font-family: 'Raleway-Thin', sans-serif;
  font-weight: 100;
}

.topdog {
  width: 100%;
  height: 500px;
  background-image: url("images/park.jpg");
  background-size: cover;
}

h1 {
  padding-top: 25px;
  margin: 0px auto;
  text-align: center;
  font-size: 30px;
}

img.firstdog {
  display: block;
  margin: 25px auto 0px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid steelblue;
}

.topdog a{
  display: block;
  margin: 20px auto;
}

.buttony {
  background-color: white;
  padding: 5px 10px;
  width: 150px;
  border: 3px solid steelblue;
  color: steelblue;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.buttony:hover {
  background-color: steelblue;
  padding: 5px 10px;
  width: 150px;
  border: 3px solid steelblue;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.bottomdogs {
  width: 100%;
}

h2 {
  text-align: center;
}

.columns {
  width: 33%;
  float: left;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.circledog {
  display: block;
  margin: 25px auto;
  width: 50%;
  border-radius: 50%;
  border: 5px solid steelblue;
}

.summary {
  margin: 25px auto;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  width: 75%;
}

div button {
  display: block;
  margin: 25px auto;
}

footer {
  width: 100%;
  height: 200px;
  background-color: slategray;
  clear: both;
}

.foottext {
  padding-top: 25px;
  text-align: center;
}

div.foot{
  text-align: center;
}

a.socialcrap {
  display: inline-block;
  margin: 12px 20px 0px 20px;
}

.gitfoot {
  padding-top: 8px;
  text-align: center;
}

.github {
  color: white;
  text-decoration: underline;
}

.github:visited {
  color: white;
  text-decoration: underline;
}
